[Unit]
Description=Pantheon Enterprise Ethereum java client
After=syslog.target network.target

[Service]
User={{ pantheon_user }}
Group={{ pantheon_group }}
Environment=HOME=/home/{{ pantheon_user }}
Type=simple
{% if pantheon_cmdline_args %}
ExecStart=/bin/sh -c "{{ pantheon_current_dir }}/bin/pantheon --config-file={{ pantheon_config_dir }}/config.toml {{ pantheon_cmdline_args }} >> {{pantheon_log_dir}}/pantheon.log 2>&1"
{% else %}
ExecStart=/bin/sh -c "{{ pantheon_current_dir }}/bin/pantheon --config-file={{ pantheon_config_dir }}/config.toml >> {{pantheon_log_dir}}/pantheon.log 2>&1"
{% endif %}
SuccessExitStatus=143
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target
